.c {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;

}
.btnRow {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-left: 25%;
  margin-right: 25%;
  height: 100px;
  /* background-color: #03bb87; */
}
.btnCol {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
}
/* 
  All the initialized buttons' styling:
  width =  50px, height = 50px, and backgroud-color:#03bb87 
*/
#btn0,#btn1,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8{
  width: 50px;
  height:50px;
  background-color:#03bb87;
}
/* #btn0{
  width: 50px;
  height:50px;
  background-color: crimson;

}
#btn1{
  width: 50px;
  height:50px;
  background-color: crimson;

}
#btn2{
  width: 50px;
  height:50px;
  background-color:"#03bb87";

}
#btn3{
  width: 50px;
  height:50px;
  background-color:"#03bb87";

}
#btn4{
  width: 50px;
  height:50px;
  background-color:"#03bb87";

}
#btn5{
  width: 50px;
  height:50px;
  background-color:"#03bb87";

}
#btn6{
  width: 50px;
  height:50px;
  background-color:"#03bb87";

}
#btn7{
  width: 50px;
  height:50px;
  background-color:"#03bb87";

}
#btn8{
  width: 50px;
  height:50px;
  background-color:"#03bb87";

} */
