.col {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  
}
.grid-container {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  /* grid-gap: 1px; */
  /* padding: 10px; */
  margin-left: 40%;
  margin-right: 40%;

  
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
 
}

/* 
  All the initialized buttons' styling:
  width =  50px, height = 50px, and backgroud-color:#03bb87 
*/
#btn0,#btn1,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8{
  width: 50px;
  height:50px;
  background-color:#03bb87;
}

